/*  your css code here. If applicable */
.card{
	padding:10px;
	box-shadow: 8px 4px 8px darkgray;
	border-radius:10px
}
.btn{
	padding:10px;
	background-color:red;
	color:white;
	border-radius:10px;
}